.currencies {
  display: none;
  position: absolute;
  top: 2rem;
  left: -2rem;
  width: 7rem;
  padding: 1.25rem;
  background: #fff;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  text-align: center;
  z-index: 20;
}
.currencies.active {
  display: block;
}
.display-currency {
  margin-right: 10px;
  width: 1rem;
  text-align: right
}
.currencies > li {
  width: 100%;
  white-space: pre-wrap;
  cursor: pointer;
}
.currencies > li:not(:last-child) { margin-bottom: 1.25rem; }
.currencies > li.active {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.currency-selection {
  font-weight: 500;
  font-size: 18px;
}